@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.deck {
  background-color: $white;
  padding: 0 1rem;
  @include tablet {
    padding: 0;
  }
  @include desktop {
    width: 63.75rem;
    margin: 0 auto;
  }
  &__title {
    @include h1-page-header;
    color: $black;
  }
  &__main {
    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
    @include desktop {
      justify-content: center;
      gap: 2rem;
    }
  }
  &__header {
    @include tablet {
      max-width: 30vw;
      position: -webkit-sticky;
      position: sticky;
      top: 2rem;
      height: 50vw;
    }
  }
  &__commander,
  &__price {
    @include h2-subheader;
    color: $black;
  }
  &__list {
    max-width: 60vw;
    margin: 0 auto;
  }
  &__commander {
    margin-top: 0;
    &__images {
      display: flex;
      justify-content: center;
      gap: 1rem;
      @include tablet {
        justify-content: flex-start;
      }
    }
  }
  &__btn--top {
    margin-top: 2rem;
    width: 6rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1.25rem;
    @include h3-labels-links-buttons;
    border: 1px solid $black;
    background-color: $black;
    color: $white;
    @include tablet {
      width: 8.75rem;
    }
  }
}
