@use "./styles/partials/variables" as *;

.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  background-color: $white;
  // &__main {
  //   background-color: $white;
  //   position: relative;
  //   width: 92%;
  //   margin: 0 auto;
  //   padding: 2rem 0;
  //   padding-bottom: 0;
  //   border-radius: 3px;
  //   box-shadow: 0px 2px 5px 0px $black;
  // }
}

a {
  height: auto;
  text-decoration: none;
  color: $black;
  &:visited {
    text-decoration: none;
    color: $black;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}
