@use "./styles/partials/variables" as *;

.App {
  text-align: center;
  box-sizing: border-box;
  height: 700vh;
  background-color: $white;
}

a {
  height: auto;
  text-decoration: none;
  color: $black;
  cursor: pointer;
  &:visited {
    text-decoration: none;
    color: $black;
  }
}

button {
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
}
