@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card-display {
  &__img {
    max-width: 60vw;
    @include tablet {
      max-width: 90%;
    }
    &--flip {
      cursor: pointer;
    }
  }
  &__flip-prompt {
    @include h3-labels-links-buttons;
    color: $black;
  }
}
