@use "../styles/partials/mixins" as *;
.header {
  @include flex(row, space-between);
  align-items: center;
  &__logo {
    width: 15rem;
    @include flex(row, space-between);
    align-items: center;
    &-img {
      width: 6rem;
    }
  }

  &__nav {
    flex-grow: 1;
    &__list {
      @include flex(row, center);
      gap: 2rem;
      a:hover {
        animation: hover-link 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.site-logo {
  display: flex;
}

.current-link {
  color: green;
  border-bottom: 4px solid green;
}
