@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card-table {
  border-collapse: collapse;
  width: 100%;
  color: $black;

  &__headers {
    background-color: $lightg;
    @include tablet {
      padding: 0 2rem;
    }
    @include desktop {
      padding: 0 2.5rem;
    }
  }

  &__label {
    @include h4-header;
    padding: 0.6875rem 0;
    width: 6.25rem;
  }

  &__single {
    border-top: 1px solid $black;
    padding: 0 1.5rem;
    background-color: $white;
  }

  //   &__item,
  //   &__category,
  //   &__status,
  //   &__quantity,
  //   &__action--tablet {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: flex-start;
  //     gap: 0.25rem;
  //     margin: 0.25rem 0;
  //     width: 50%;
  //     flex: 1;
  //     min-height: 13.3vw;
  //     max-height: 13.5vw;
  //     @include p2-body-medium;
  //     @include tablet {
  //       display: table-cell;
  //       width: auto;
  //     }
  //     &:before {
  //       @include h4-header;
  //       @include tablet {
  //         display: none;
  //       }
  //     }
  //   }

  //   //pseudo-selectors to render column titles on mobile
  //   &__item:before {
  //     content: "INVENTORY ITEM";
  //   }
  //   &__category:before {
  //     content: "CATEGORY";
  //   }
  //   &__status:before {
  //     content: "STATUS";
  //   }
  //   &__quantity:before {
  //     content: "QTY";
  //   }

  //   &__action {
  //     margin: 0 1.5rem;
  //     margin-bottom: 1.6875rem;
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: flex-end;
  //     @include tablet {
  //       display: none;
  //     }
  //     &--tablet {
  //       display: none;
  //       @include tablet {
  //         display: table-cell;
  //       }
  //     }
  //     &__btn {
  //       height: 1.125rem;
  //     }
  //     &__edit-link {
  //       margin-left: 1.5rem;
  //     }
  //   }

  //   &__item {
  //     @include tablet {
  //       padding-left: 2rem;
  //     }
  //     @include desktop {
  //       padding-left: 2.5rem;
  //     }
  //     &--mobile {
  //       @include tablet {
  //         display: none;
  //       }
  //     }
  //   }

  //   &__item__cell {
  //     display: flex;
  //     align-items: center;
  //     gap: 0.7rem;
  //   }
}
